:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #cccccc;
        background: #333333;
    }

    a {
        color: yellow;
    }

    a:visited {
        color: orange;
    }
}


body {
    font-family: sans-serif;
    font-size: 40px;
}

#main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    margin-bottom: 30px;
}

h1 a {
    text-decoration: none;
}

h2 {
    margin-top: 40px;
    font-size: 150%;
    text-align: center;
}

#nav a {
    font-weight: bold;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

span.divider {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

p {
    margin-top: 40px;
    line-height: 150%;
}


